<html ng-app>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
    <script src="index.js"></script>
    <link type = "text/css" rel="stylesheet" href = "index.css"></link>

  </head>
  <body>
    <div class="todo-wrapper" ng-controller="TodoCtrl">
      <h2>You've got <span class="emphasis">{{getTotalTodos()}}</span> things to do</h2>
            <h4>You've checked off <span class="emphasis">{{getTotalCompleted()}}</span> things.</h4>
      <ul>
        <li ng-repeat="todo in todos">
          <input type="checkbox" ng-model="todo.done"/>
          <span class="done-{{todo.done}}">{{todo.text}}</span>
        </li>
      </ul>
      <form>
        <input type = "text" ng-model = "formTodoText" />
        <button ng-click="addTodo()"></button>
      </form>
      <button class="clear-btn" ng-click="clearCompleted()">Clear completed</button>
    </div>
  </body>

</html>
